{% extends 'clients/_base.html' %}
{% block content %}
<div style="margin-bottom: 100px;" class="sm:w-2/3 mx-auto px-10">
    <h1 class="text-4xl mb-2">Contacts</h1>
    {% for contact in contacts %}
    <div class="border rounded px-12 py-8 my-6 hover:bg-gray-50">
        <div class="flex justify-between items-center pb-6">
            <p class="text-2xl">{{ contact.first_name }} {{ contact.last_name }} at {{ contact.company.company }}</p>
            <a href="{% url 'contact-detail' contact.pk %}"><p class="rounded bg-green-500 px-6 py-2">View</p></a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}