{% extends 'clients/_base.html' %}

{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold mb-4">Delete Client</h1>
    <p>Are you sure you want to delete {{ site.site_name }}?</p><br>
    <form method="post">
        {% csrf_token %}
        <input class="rounded px-5 py-2 bg-red-300 hover:cursor-pointer" type="submit" value="Delete">
        <a href="{% url 'site-detail' site.id %}" class="rounded px-5 py-2 bg-gray-300 hover:cursor-pointer">Cancel</a>
    </form>
</div>
{% endblock %}