{% extends 'clients/_base.html' %}

{% block content %}

    <div class="sm:w-2/3 mx-auto px-10">
        <h1 class="text-2xl font-bold">{{ site.client.company }} — {{ site.site_name }}</h1><br>
        <div class="flex justify-between">
            <div>
                <p>{{ site.address }}</p>
                <p>{{ site.city }}, {{ site.state }} {{ site.zip_code }}</p>
                <br><br>
                <a href="{% url 'update-site' site.pk %}"><p class="rounded bg-green-500 px-6 py-2 w-24">Update</p></a><br><br>

            </div>
        </div>
    </div>

{% endblock content %}
        