{% extends 'invoices/_base.html' %}
{% block content %}
<div style="margin-bottom: 100px;" class="sm:w-2/3 mx-auto px-10">
    <h1 class="text-4xl mb-2">Payments</h1>
    {% for payment in payments %}
    <div class="border rounded px-12 py-8 my-6 hover:bg-gray-50">
        <div class="flex justify-between items-center pb-6">
            <p class="text-2xl">${{ payment.payment_amount|floatformat:2 }} received from {{ payment.client.company }} on {{ payment.payment_date }}</p>
            <a href="{% url 'view-payment' payment.pk %}"><p class="rounded bg-green-500 px-6 py-2">View</p></a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}